section#hero {
  margin-top: -10px;
}

div#banner {
    background: rgba(0, 0, 0, 0.726) url('https://cdn.danielmedina.dev/photo2.jpg');
    background-size: cover;
    background-blend-mode: darken;
    background-position-y: center;
    height: 30vh;
    margin-bottom: -100px;
}

div#header {
    padding: 30px;
    text-align: center;

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        border: 5px solid rgb(43, 43, 43);
    }

    h1 {
        font-family: 'Merriweather', serif;
        padding: 5px;
    }

    h3 {
        padding: 5px;
        font-family: 'Inter', sans-serif;
    }

    p {
        margin: 0 250px;
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 900px) {
    div#header p {
        margin: 0 50px;
    }
}
