<section id="hero">
    <div id="banner"></div>
    <div id="header">
        <img src={{src}} alt="Me">
        <h1>Daniel Medina</h1>
        <h3>Web developer</h3>
        <p>Hello, my name is Daniel Medina and I am a full stack web developer. I work the most with JavaScript, primarily with Angular and NodeJs. I started my career in web development on January of 2020 before the coronavirus pandemic. The pandemic gave a lot of time to invest in learning technologies that would allow me to create a lot of content and digital media.</p>
    </div>
</section>