<footer>
    <div>
      <p>Daniel Medina</p>
      <p>Web developer</p>
    </div>
    <div class="links">
        <ul>
          <li><a href="https://github.com/dnrm" target="_blank" rel="noopener"><i class="fab fa-github"></i></a></li>
          <li><a href="https://instagram.com/dannermm" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://twitter.com/dannermm_" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://dev.to/dnrm" target="_blank" rel="noopener"><i class="fab fa-dev"></i></a></li>
        </ul>
      </div>
</footer>