<div>
    <section id="hero">
        <div class="heading">
            <h1>Dannermm Blog</h1>
            <p>This project is a blog I made with VueJS and Bootstrap.</p>
        </div>
        <div class="external-link">
            <a href="https://blog.dannermm.com/" target="_blank" rel="noopener">
                <span>Visit</span>
                <i class="fas fa-external-link-alt"></i>
            </a>
        </div>
    </section>
    <section id="about">
        <h1>About the project</h1>
    </section>
</div>