<div>
    <section id="hero">
        <div class="heading">
            <h1>Dannermm Blog</h1>
            <p>This project is a blog I made with VueJS and Bootstrap.</p>
        </div>
        <div class="external-link">
            <a href="https://blog.dannermm.com/" target="_blank" rel="noopener">
                <span>Visit</span>
                <i class="fas fa-external-link-alt"></i>
            </a>
        </div>
    </section>
    <section id="about">
        <h1>About the project</h1>
        <p>The blog started off as a mock up layout made with bootstrap. Then I saw the possiblity to add dynamic posts using Vue.js and therefore decided to start using it in order to separate posts by category. The blog was not created using the Vue.js cli but instead it was integrated with Vue.js through the CDN. The blog uses Vue components for every blog post and works by passing props to each component. The end result is a blog prototype that has posts sorted by categories and is fully reactive.</p>
        <p>The source code for this project can be found by following <a href="https://github.com/dnrm/dannermm-blog">this link</a>.</p>
    </section>
</div>