* {
    font-family: 'Merriweather', serif;
}

#project-container {
    padding: 20px;
    background: rgb(236, 236, 236);

    h3 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    img {
        width: 100%;
    }
}
