<div>
    <section id="hero">
        <div class="heading">
            <h1>Admin Panel</h1>
            <p>This project consists of a mockup admin panel.</p>
        </div>
        <div class="external-link">
            <a href="https://blog.dannermm.com/" target="_blank" rel="noopener">
                <span>Visit</span>
                <i class="fas fa-external-link-alt"></i>
            </a>
        </div>
    </section>
    <section id="about">
        <h1>About the project</h1>
        <p>The admin panel is designed with just HTML and CSS. It is really simple and contains almost no funcionality. It was made primarily to practice css and the positioning of elements.</p>
        <p>The source code for this project can be found by following <a href="https://github.com/dnrm/admin-panel">this link</a>.</p>
    </section>
</div>