<main>
    <section id="banner">
        <div id="banner-text">
            <h1 id="main-header">I'm Daniel Medina,</h1>
            <h2>a web developer</h2>
        </div>
    </section>
    <section id="projects">
        <h3>My Projects</h3>
        <section id="container">
            <app-project
                [name]="'blog.dannermm.com'"
                [srcUrl]="'https://cdn.danielmedina.dev/photo1.jpg'"
                [description]="'This is a project made with Bootstrap and VueJs.'"
                [linkTo]="'/projects/blog-dannermm-com'">
            </app-project>
            <app-project
                [name]="'Admin Panel'"
                [srcUrl]="'https://cdn.danielmedina.dev/photo2.jpg'"
                [description]="'This was one of my first projects, it is made with just HTML and CSS.'"
                [linkTo]="'/projects/admin-panel'">
            </app-project>
            <app-project
                [name]="'Dannermm Website'"
                [srcUrl]="'https://cdn.danielmedina.dev/photo3.jpg'"
                [description]="'This is the home page of my site.'"
                [linkTo]="'/projects/dannermm-com'">
            </app-project>
            <app-project
                [name]="'danielmedina.dev'"
                [srcUrl]="'https://cdn.danielmedina.dev/photo4.jpg'"
                [description]="'This is my professional site.'"
                [linkTo]="'/projects/danielmedina-dev'">
            </app-project>
            <app-project
                [name]="'Home Page Archive'"
                [srcUrl]="'https://cdn.danielmedina.dev/photo5.jpg'"
                [description]="'Here is a timeline of how my website\'s homepage has looked throughout the years.'"
                [linkTo]="'/projects/home-page-archive'">
            </app-project>
            <app-project
                [name]="'NodeJs Rest API'"
                [srcUrl]="'https://cdn.danielmedina.dev/photo6.jpg'"
                [description]="'This is a REST API that I developed using NodeJs, Mongoose, and Express'"
                [linkTo]="'/projects/home-page-archive'">
            </app-project>
            <app-project
                [name]="'Redis API'"
                [srcUrl]="'https://cdn.danielmedina.dev/photo7.jpg'"
                [description]="'This is an API that sets and gets'"
                [linkTo]="'/projects/home-page-archive'">
            </app-project>
        </section>
    </section>
</main>
<app-footer></app-footer>
