<main>
    <section id="banner">
        <div id="banner-text">
            <h1 id="main-header">I'm Daniel Medina,</h1>
            <h2>a web developer</h2>
        </div>
    </section>
    <section id="projects">
        <h3>My Projects</h3>
        <section id="container">
            <div *ngFor="let user of data.data" class="user">
              <a [routerLink]="'details/' + user.email"><img src={{user.avatar}} alt="profile picture"></a>
              <h1>{{user.first_name}} {{user.last_name}}</h1>
              <p>{{user.email}}</p>
            </div>
        </section>
    </section>
</main>
<app-footer></app-footer>
